/**
* Main CSS file 
* this is where all your imports go.
* 
*/

//Bourbon, Neat and other dependancies:
@import 'bourbon';
@import 'neat';
@import 'libs/_normalize';
@import 'libs/_cuisine';

//Custom mixins and variables:
@import '_mixins';
@import '_variables';


// General styling:
@import '_general';
@import '_header';
@import '_footer';
@import '_ui';
@import '_forms';
@import '_textual';


// Template-level:
@import '_page';
@import '_blog';


// Page-level:
@import '_home';


//Responsive:
@import 'responsive/_general';
@import 'responsive/_page';
@import 'responsive/_blog';
@import 'responsive/_home';